body {
	padding-top: 70px;
	padding-bottom: 20px;
}

.jumbotron {
	padding-bottom: 18px;
	padding-top: 18px;
	margin-top: 12px;
	margin-bottom: 12px;
}

@media (min-width: 768px) {
	.col-md-4 {
	  	width: 33.33333333%;
	  	float: left;
	}
}

div.breadcrumbs {
	margin: 1em 0;
}
